name: Mirror from Gitea and Deploy

on:
  # Trigger manually via GitHub UI
  workflow_dispatch:
  # Optional: Check for updates every hour
  schedule:
    - cron: '0 * * * *'

# Grant write permission to GITHUB_TOKEN so it can push
permissions:
  contents: write

jobs:
  mirror-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v3

      - name: Setup Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Mirror Content from Gitea
        run: |
          # 1. Clone Gitea repo to a temp folder
          git clone https://gitea.com/irfanrp/irfanrp.github.io.git temp_gitea
          
          # 2. Delete everything in CURRENT dir except .git and .github
          find . -maxdepth 1 ! -name '.git' ! -name '.github' ! -name '.' ! -name '..' -exec rm -rf {} +
          
          # 3. Move files from temp_gitea to current dir
          cp -a temp_gitea/. .
          rm -rf temp_gitea .git/modules

          # 4. Commit and Push
          git add .
          git commit -m "Mirror update from Gitea" || echo "No changes to mirror"
          git push origin master